# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
dist/
build/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# IDE-specific files
.vscode/
.idea/

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db