<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/stylesheets/login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <div class="p-2">
        <h1>Login</h1>
        <form action="/user/login" method="post">
            <label>Email:</label>
            <input class="rounded-pill border-1" type="email" required name="email"> 
            <label>Password:</label>
            <input type="password" class="rounded-pill border-1" required name="password">
            <button type="submit" class="btn btn-success mt-2">Login</button>
              <div class="alert alert-light border mt-2 d-flex flex-column" id="Demo">
        <p class="mb-1"><strong>Demo Login:</strong></p>
        <p class="mb-1"><strong>Email:</strong> Guest@jobs.com</p>
        <p class="mb-3"><strong>Password:</strong> Guest123</p>
       <a href="/user/guest-login" class="btn btn-outline-secondary mt-3">→ Continue as Guest</a>

      </div>
            <h2 class="mt-2">If not Signed in?<a href="/signup"> <span class = "text-decoration-underline" >Sign up</span></a></h2>
        </form>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>