body {
    background-color: #f8f9fa;
}
.card {
    margin-top: 50px;
    border-radius: 10px;
}
.btn-warning, .btn-primary {
    width: 100%;
}
.btn-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.btn {
    width: 150px;
    padding: 15px;
    font-size: 16px;
    border-radius: 50px;
}

.btn i {
    margin-right: 8px;
}